@{
    ViewData["Title"] = "Get To Know Joel";
}
<h1>@ViewData["Title"]</h1>

<p><a href="https://www.qwcomedy.com/">Quick Wits Comedy</a> (where Joel performs regularly)</p>

<p>
    <a href="https://baconsale.com/">Baconsale <br />
    <img src="~/baconsalekate.jpg" width="500px"/>
    </a>
</p>
